@page "/driver-home"
@inherits AbpCrudPageBase<IOrderAppService, OrderDto, long, GetListOrderInput, CreateOrderInput, UpdateOrderInput>
@using CheMa.Go.Applications.Dtos
@using CheMa.Go.Domain.Enums
@using CheMa.Go.Applications.AppServices
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@inject PageLayout PageLayout

@{
    PageLayout.Title = L["Menu:DriverHome"];
    PageLayout.ShowToolbar = false;
}

<Card>
    <CardHeader>
        <h2>@L["Menu:DriverHome"]</h2>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="OrderDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize"
                  DetailRowTrigger="@(e => e.DetailRowTriggerType == DetailRowTriggerType.RowClick && DisplayDetailRow(e.Item))"
                  DetailRowStartsVisible="false"
                  Responsive>
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="OrderDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="OrderDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="OrderDto" Text="@L["DispatchVehicle"]" Clicked="() => OpenDispatchVehicleModalAsync(context)"></EntityAction>
                            @if (context.OrderStatus == OrderStatus.Dispatched)
                            {
                                <EntityAction TItem="OrderDto" Text="@L["Order:StartTrip"]" Clicked="() => StartTripAsync(context)"></EntityAction>
                                <EntityAction TItem="OrderDto" Text="@L["Order:RejectDispatch"]" Clicked="() => RejectDispatchAsync(context)"></EntityAction>
                            }
                            @if (context.OrderStatus == OrderStatus.IsOnTheWay)
                            {
                                <EntityAction TItem="OrderDto" Text="@L["Order:Arrive"]" Clicked="() => ArriveAsync(context)"></EntityAction>
                                <EntityAction TItem="OrderDto" Text="@L["Order:ReturnToPending"]" Clicked="() => ReturnToPendingAsync(context)"></EntityAction>
                            }
                            @if (context.OrderStatus == OrderStatus.Arrived || context.OrderStatus == OrderStatus.PartiallyPicked || context.OrderStatus == OrderStatus.Picked)
                            {
                                <EntityAction TItem="OrderDto" Text="@L["Order:Complete"]" Clicked="() => CompleteOrderAsync(context)"></EntityAction>
                            }
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="OrderDto" Field="@nameof(OrderDto.Id)" Caption="@L["OrderDto:Id"]"/>
                <DataGridColumn TItem="OrderDto" Field="@nameof(OrderDto.OrderType)" Caption="@L["OrderDto:OrderType"]">
                    <DisplayTemplate>
                        @L[$"Enum:OrderType.{context.OrderType:D}"]
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto" Field="@nameof(OrderDto.OrderStatus)" Caption="@L["OrderDto:OrderStatus"]">
                    <DisplayTemplate>
                        @L[$"Enum:OrderStatus.{context.OrderStatus:D}"]
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto" Field="@nameof(OrderDto.AppointmentTime)" Caption="@L["OrderDto:AppointmentTime"]">
                    <DisplayTemplate>
                        @context.AppointmentTime.ToString("G")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto" Field="Location.Name" Caption="@L["LocationInfoDto:Name"]">
                    <DisplayTemplate>
                        @context.Location.Name
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto" Field="Location.Address" Caption="@L["LocationInfoDto:Address"]">
                    <DisplayTemplate>
                        @context.Location.Address
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto" Field="Vehicle.LicenseNum" Caption="@L["VehicleDto:LicenseNum"]"/>
                <DataGridColumn TItem="OrderDto" Field="@nameof(OrderDto.DriverName)" Caption="@L["OrderDto:DriverName"]"/>
                <DataGridColumn TItem="OrderDto" Field="@nameof(OrderDto.DispatchedPassengerCount)" Caption="@L["OrderDto:DispatchedPassengerCount"]"/>
            </DataGridColumns>
            <DetailRowTemplate>
                <DataGrid TItem="PassengerDto"
                          Data="context.PassengerInfos"
                          Sortable="false"
                          ShowCaptions="true"
                          Responsive>
                    <DataGridColumn TItem="PassengerDto" Field="@nameof(PassengerDto.Id)" Caption="@L["Actions"]">
                        <DisplayTemplate Context="passenger">
                            @if (passenger.Status != PassengerStatus.Boarded)
                            {
                                <Button Color="Color.Primary" Size="Size.Small" Clicked="() => SetPassengerBoardedAsync(passenger)">
                                    @L["Passenger:Boarded"]
                                </Button>
                            }
                            @if (passenger.Status == PassengerStatus.Boarded)
                            {
                                <Button Color="Color.Primary" Size="Size.Small" Clicked="() => SetPassengerExitAsync(passenger)">
                                    @L["Passenger:Exit"]
                                </Button>
                            }
                            @if (passenger.Status == PassengerStatus.PendingPickup || passenger.Status == PassengerStatus.Dispatched)
                            {
                                <Button Color="Color.Warning" Size="Size.Small" Clicked="() => SetPassengerExceptionClosedAsync(passenger)">
                                    @L["Passenger:ExceptionClosed"]
                                </Button>
                            }
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PassengerDto" Field="Hotel.Name" Caption="@L["HotelDto:Name"]">
                        <DisplayTemplate Context="passenger">
                            @passenger.Hotel?.Name
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PassengerDto" Field="@nameof(PassengerDto.Name)" Caption="@L["PassengerDto:Name"]" />
                    <DataGridColumn TItem="PassengerDto" Field="@nameof(PassengerDto.Status)" Caption="@L["PassengerDto:Status"]">
                        <DisplayTemplate Context="passenger">
                            @L[$"Enum:PassengerStatus.{passenger.Status:D}"]
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PassengerDto" Field="@nameof(PassengerDto.Phone)" Caption="@L["PassengerDto:Phone"]" />
                    <DataGridColumn TItem="PassengerDto" Field="@nameof(PassengerDto.Count)" Caption="@L["PassengerDto:Count"]" />
                    <DataGridColumn TItem="PassengerDto" Field="@nameof(PassengerDto.AppointmentTime)" Caption="@L["PassengerDto:AppointmentTime"]">
                        <DisplayTemplate Context="passenger">
                            @passenger.AppointmentTime.ToString("G")
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PassengerDto" Field="Location.Name" Caption="@L["LocationInfoDto:Name"]">
                        <DisplayTemplate Context="passenger">
                            @passenger.Location.Name
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PassengerDto" Field="Location.Address" Caption="@L["LocationInfoDto:Address"]">
                        <DisplayTemplate Context="passenger">
                            @passenger.Location.Address
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PassengerDto" Field="@nameof(PassengerDto.Remark)" Caption="@L["PassengerDto:Remark"]" />
                </DataGrid>
            </DetailRowTemplate>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="@DispatchVehicleModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["DispatchVehicle"]</ModalTitle>
                <CloseButton Clicked="CloseDispatchVehicleModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>@L["VehicleDto:LicenseNum"]</FieldLabel>
                    <Select TValue="long" @bind-SelectedValue="SelectedVehicleId">
                        <SelectItem TValue="long" Value="0">--</SelectItem>
                        @foreach (var vehicle in DispatchVehicles)
                        {
                            <SelectItem TValue="long" Value="@vehicle.Id">
                                @vehicle.LicenseNum (@vehicle.Name)
                            </SelectItem>
                        }
                    </Select>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="CloseDispatchVehicleModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary" Clicked="DispatchVehicleToOrderAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
