@page "/orders"
@inherits AbpCrudPageBase<IOrderAppService, OrderDto, long, GetListOrderInput, CreateOrderInput, UpdateOrderInput>
@using CheMa.Go.Localization
@using CheMa.Go.Applications.AppServices
@using CheMa.Go.Applications.Dtos
@using CheMa.Go.Domain.Enums
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@inject PageLayout PageLayout
@{
    PageLayout.Title = L["Menu:Home"];
    PageLayout.ShowToolbar = false;
}

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Menu:OrderManagement"]</h2>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <div class="mb-3 d-grid gap-2" style="grid-template-columns: repeat(3, minmax(0, 1fr));">
            <Field>
                <FieldLabel>@L["OrderDto:Id"]</FieldLabel>
                <NumericEdit TValue="long?" @bind-value="GetListInput.OrderId" />
            </Field>
            <Field>
                <FieldLabel>@L["OrderDto:OrderType"]</FieldLabel>
                <Select TValue="OrderType ?" @bind-SelectedValue="GetListInput.OrderType">
                    <SelectItem TValue="OrderType?" Value="@((OrderType?)null)">--</SelectItem>
                    @foreach (int orderType in Enum.GetValues(typeof(OrderType)))
                    {
                        <SelectItem TValue="OrderType?" Value="@((OrderType)orderType)">
                            @L[$"Enum:OrderType.{orderType}"]
                        </SelectItem>
                    }
                </Select>
            </Field>
            <Field>
                <FieldLabel>@L["OrderDto:OrderStatus"]</FieldLabel>
                <select class="form-select" multiple size="5" @onchange="OnOrderStatusSelectionChanged">
                    @foreach (int orderStatus in Enum.GetValues(typeof(OrderStatus)))
                    {
                        <option value="@orderStatus" selected="@IsOrderStatusSelected((OrderStatus)orderStatus)">
                            @L[$"Enum:OrderStatus.{orderStatus}"]
                        </option>
                    }
                </select>
            </Field>
            <Field>
                <FieldLabel>@L["OrderDto:AppointmentTime"]</FieldLabel>
                <div class="d-flex gap-2">
                    <DatePicker TValue="DateTime ?"
                                @bind-Date="GetListInput.AppointmentStartTime"
                                InputMode="DateInputMode.DateTime"
                                DisplayFormat="yyyy-MM-dd HH:mm"
                                TimeAs24hr />
                    <DatePicker TValue="DateTime ?"
                                @bind-Date="GetListInput.AppointmentEndTime"
                                InputMode="DateInputMode.DateTime"
                                DisplayFormat="yyyy-MM-dd HH:mm"
                                TimeAs24hr />
                </div>
            </Field>
            <Field>
                <FieldLabel>@L["VehicleDto:LicenseNum"]</FieldLabel>
                <TextEdit @bind-Text="GetListInput.LicenseNum"></TextEdit>
            </Field>
            <div class="d-flex justify-content-end gap-2" style="grid-column: 3; align-self: end;">
                <Button Color="Color.Primary" Clicked="OpenCreateModalAsync">
                    @L["New"]
                </Button>
                <Button Color="Color.Primary" Clicked="SearchOrdersAsync">
                    @L["Search"]
                </Button>
                <Button Color="Color.Secondary" Clicked="ClearOrderSearchAsync">
                    @L["Clear"]
                </Button>
            </div>
        </div>

        <DataGrid TItem="OrderDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize"
                  DetailRowTrigger="@(e => e.DetailRowTriggerType == DetailRowTriggerType.RowClick && DisplayDetailRow(e.Item))"
                  DetailRowStartsVisible="false"
                  Responsive>
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="OrderDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="OrderDto" EntityActionsColumn="@EntityActionsColumn">
                            @if (IsDispatchEditable(context))
                            {
                                <EntityAction TItem="OrderDto"
                                              Text="@L["Edit"]"
                                              Clicked="() => OpenEditModalAsync(context)" />
                                <EntityAction TItem="OrderDto"
                                              Text="@L["DispatchVehicle"]"
                                              Clicked="() => OpenDispatchVehicleModalAsync(context)" />
                                <EntityAction TItem="OrderDto"
                                              Text="@L["DispatchDriver"]"
                                              Clicked="() => OpenDispatchDriverModalAsync(context)" />
                                <EntityAction TItem="OrderDto"
                                              Text="@L["AddPassenger"]"
                                              Clicked="() => OpenAddPassengerModalAsync(context)" />
                                @if (IsPendingOrder(context))
                                {
                                    <EntityAction TItem="OrderDto"
                                                  Text="@L["Order:ConfirmDispatch"]"
                                                  Clicked="() => ConfirmDispatchAsync(context)" />
                                }
                            }
                            <EntityAction TItem="OrderDto"
                                          Text="@L["Delete"]"
                                          Clicked="() => DeleteEntityAsync(context)"
                                          ConfirmationMessage="() => GetDeleteConfirmationMessage(context)" />
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="OrderDto"
                                Field="@nameof(OrderDto.Id)"
                                Caption="@L["OrderDto:Id"]">
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto"
                                Field="@nameof(OrderDto.OrderType)"
                                Caption="@L["OrderDto:OrderType"]">
                    <DisplayTemplate>
                        @L[$"Enum:OrderType.{context.OrderType:D}"]
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto"
                                Field="@nameof(OrderDto.OrderStatus)"
                                Caption="@L["OrderDto:OrderStatus"]">
                    <DisplayTemplate>
                        @L[$"Enum:OrderStatus.{context.OrderStatus:D}"]
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto"
                                Field="@nameof(OrderDto.AppointmentTime)"
                                Caption="@L["OrderDto:AppointmentTime"]">
                    <DisplayTemplate>
                        @context.AppointmentTime.ToString("G")
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto"
                                Field="@nameof(OrderDto.DriverName)"
                                Caption="@L["OrderDto:DriverName"]">
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto"
                                Field="Vehicle.LicenseNum"
                                Caption="@L["VehicleDto:LicenseNum"]">
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto"
                                Field="Vehicle.Name"
                                Caption="@L["VehicleDto:Name"]">
                </DataGridColumn>
                <DataGridColumn TItem="OrderDto"
                                Field="@nameof(OrderDto.DispatchedPassengerCount)"
                                Caption="@L["OrderDto:DispatchedPassengerCount"]">
                </DataGridColumn>
            </DataGridColumns>
            <DetailRowTemplate>
                <DataGrid TItem="PassengerDto"
                          Data="context.PassengerInfos"
                          Sortable="false"
                          ShowCaptions="true"
                          Responsive>
                    <DataGridColumn TItem="PassengerDto" Field="@nameof(PassengerDto.Id)" Caption="@L["Actions"]">
                        <DisplayTemplate Context="passenger">
                            <Button Color="Color.Danger" Size="Size.Small" Clicked="() => RemovePassengerFromOrderAsync(passenger, context)">@L["Delete"]</Button>
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="Hotel.Name" Caption="@L["HotelDto:Name"]">
                        <DisplayTemplate Context="passenger">
                            @passenger.Hotel?.Name
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(PassengerDto.Name)" Caption="@L["PassengerDto:Name"]" />
                    <DataGridColumn Field="@nameof(PassengerDto.Phone)" Caption="@L["PassengerDto:Phone"]" />
                    <DataGridColumn Field="@nameof(PassengerDto.Count)" Caption="@L["PassengerDto:Count"]" />
                    <DataGridColumn Field="@nameof(PassengerDto.AppointmentTime)" Caption="@L["PassengerDto:AppointmentTime"]">
                        <DisplayTemplate Context="passenger">
                            @passenger.AppointmentTime.ToString("G")
                        </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn Field="@nameof(PassengerDto.Remark)" Caption="@L["PassengerDto:Remark"]" />
                </DataGrid>
            </DetailRowTemplate>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="@CreateModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["New"]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                    <Field>
                        <FieldLabel>@L["OrderDto:OrderType"]</FieldLabel>
                        <Select TValue="OrderType" @bind-SelectedValue="@NewEntity.OrderType">
                            @foreach (int orderType in Enum.GetValues(typeof(OrderType)))
                            {
                                <SelectItem TValue="OrderType" Value="@((OrderType)orderType)">
                                    @L[$"Enum:OrderType.{orderType}"]
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                    <Field>
                        <FieldLabel>@L["OrderDto:OrderSource"]</FieldLabel>
                        <Select TValue="OrderSource" @bind-SelectedValue="@NewEntity.OrderSource">
                            @foreach (int orderSource in Enum.GetValues(typeof(OrderSource)))
                            {
                                <SelectItem TValue="OrderSource" Value="@((OrderSource)orderSource)">
                                    @L[$"Enum:OrderSource.{orderSource}"]
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                    <Field>
                        <FieldLabel>@L["OrderDto:AppointmentTime"]</FieldLabel>
                        <DatePicker TValue="DateTime"
                                    @bind-Date="NewEntity.AppointmentTime"
                                    InputMode="DateInputMode.DateTime"
                                    TimeAs24hr
                                    DisplayFormat="yyyy-MM-dd HH:mm" />
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="@AddPassengerModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["AddPassenger"]</ModalTitle>
                <CloseButton Clicked="CloseAddPassengerModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>@L["PassengerDto:Name"]</FieldLabel>
                    <div style="max-height: 320px; overflow-y: auto; border: 1px solid #dee2e6; border-radius: 0.375rem; padding: 0.75rem;">
                        @foreach (var passenger in PassengersForOrder)
                        {
                            <div class="form-check mb-2">
                                <input class="form-check-input"
                                       type="checkbox"
                                       checked="@SelectedPassengerIds.Contains(passenger.Id)"
                                       @onchange="@(e => OnPassengerCheckedChanged(passenger.Id, e))" />
                                <label class="form-check-label">@passenger.Name-@passenger.Phone (@passenger.Count)</label>
                            </div>
                        }
                    </div>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseAddPassengerModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Clicked="AddPassengersToOrderAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="@DispatchVehicleModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["DispatchVehicle"]</ModalTitle>
                <CloseButton Clicked="CloseDispatchVehicleModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>@L["VehicleDto:LicenseNum"]</FieldLabel>
                    <Select TValue="long" @bind-SelectedValue="SelectedVehicleId">
                        <SelectItem TValue="long" Value="0">--</SelectItem>
                        @foreach (var vehicle in DispatchVehicles)
                        {
                            <SelectItem TValue="long" Value="@vehicle.Id">
                                @vehicle.LicenseNum (@vehicle.Name)
                            </SelectItem>
                        }
                    </Select>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseDispatchVehicleModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Clicked="DispatchVehicleToOrderAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="@DispatchDriverModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["DispatchDriver"]</ModalTitle>
                <CloseButton Clicked="CloseDispatchDriverModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>@L["IdentityUserDto:UserName"]</FieldLabel>
                    <Select TValue="Guid" @bind-SelectedValue="SelectedDriverId">
                        <SelectItem TValue="Guid" Value="Guid.Empty">--</SelectItem>
                        @foreach (var driver in DispatchDrivers)
                        {
                            <SelectItem TValue="Guid" Value="@driver.Id">
                                @driver.UserName
                            </SelectItem>
                        }
                    </Select>
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseDispatchDriverModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Clicked="DispatchDriverToOrderAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="@EditModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                    <Field>
                        <FieldLabel>@L["OrderDto:OrderType"]</FieldLabel>
                        <Select TValue="OrderType" @bind-SelectedValue="@EditingEntity.OrderType">
                            @foreach (int orderType in Enum.GetValues(typeof(OrderType)))
                            {
                                <SelectItem TValue="OrderType" Value="@((OrderType)orderType)">
                                    @L[$"Enum:OrderType.{orderType}"]
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                    <Field>
                        <FieldLabel>@L["OrderDto:OrderSource"]</FieldLabel>
                        <Select TValue="OrderSource" @bind-SelectedValue="@EditingEntity.OrderSource">
                            @foreach (int orderSource in Enum.GetValues(typeof(OrderSource)))
                            {
                                <SelectItem TValue="OrderSource" Value="@((OrderSource)orderSource)">
                                    @L[$"Enum:OrderSource.{orderSource}"]
                                </SelectItem>
                            }
                        </Select>
                    </Field>
                    <Field>
                        <FieldLabel>@L["OrderDto:AppointmentTime"]</FieldLabel>
                        <DatePicker TValue="DateTime"
                                    @bind-Date="EditingEntity.AppointmentTime"
                                    InputMode="DateInputMode.DateTime"
                                    DisplayFormat="yyyy-MM-dd HH:mm" />
                    </Field>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateEntityAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
