@page "/passengers"
@inherits AbpCrudPageBase<IPassengerAppService, PassengerDto, long, GetListPassengerInput, CreatePassengerInput, UpdatePassengerInput>
@using CheMa.Go.Localization
@using CheMa.Go.Applications.AppServices
@using CheMa.Go.Applications.Dtos
@using CheMa.Go.Domain.Enums
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@inject PageLayout PageLayout
@inject AbpBlazorMessageLocalizerHelper<GoResource> Lh
@{
    PageLayout.Title = L["Menu:Home"];
    PageLayout.ShowToolbar = false;
}

<Card>
    <CardHeader>
        <Row Class="justify-content-between">
            <Column ColumnSize="ColumnSize.IsAuto">
                <h2>@L["Menu:PassengerManagement"]</h2>
            </Column>
        </Row>
    </CardHeader>
    <CardBody>
        <div class="mb-3 d-grid gap-2" style="grid-template-columns: repeat(3, minmax(0, 1fr));">
            <Field>
                <FieldLabel>@L["PassengerDto:Name"]</FieldLabel>
                <TextEdit @bind-Text="GetListInput.Name"></TextEdit>
            </Field>
            <Field>
                <FieldLabel>@L["PassengerDto:Phone"]</FieldLabel>
                <TextEdit @bind-Text="GetListInput.Phone"></TextEdit>
            </Field>
            <Field>
                <FieldLabel>@L["PassengerDto:Status"]</FieldLabel>
                <Select TValue="PassengerStatus ?" @bind-SelectedValue="GetListInput.Status">
                    <SelectItem TValue="PassengerStatus?" Value="@((PassengerStatus?)null)">--</SelectItem>
                    @foreach (int status in Enum.GetValues(typeof(PassengerStatus)))
                    {
                        <SelectItem TValue="PassengerStatus?" Value="@((PassengerStatus)status)">
                            @L[$"Enum:PassengerStatus.{status}"]
                        </SelectItem>
                    }
                </Select>
            </Field>
            <Field>
                <FieldLabel>@L["OrderDto:Id"]</FieldLabel>
                <NumericEdit TValue="long?" @bind-value="GetListInput.OrderId" />
            </Field>
            <div class="d-flex justify-content-end gap-2" style="align-self: end;">
                <Button Color="Color.Primary" Clicked="OpenCreatePassengerModalAsync">
                    @L["New"]
                </Button>
                <Button Color="Color.Primary" Clicked="SearchPassengersAsync">
                    @L["Search"]
                </Button>
                <Button Color="Color.Secondary" Clicked="ClearPassengerSearchAsync">
                    @L["Clear"]
                </Button>
            </div>
        </div>

        <DataGrid TItem="PassengerDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridEntityActionsColumn TItem="PassengerDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="PassengerDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="PassengerDto"
                                          Text="@L["Edit"]"
                                          Clicked="() => OpenEditModalAsync(context)" />
                            <EntityAction TItem="PassengerDto"
                                          Text="@L["Delete"]"
                                          Clicked="() => DeleteEntityAsync(context)"
                                          ConfirmationMessage="() => GetDeleteConfirmationMessage(context)" />
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
                <DataGridColumn TItem="PassengerDto"
                                Field="@nameof(PassengerDto.Name)"
                                Caption="@L["PassengerDto:Name"]">
                </DataGridColumn>
                <DataGridColumn TItem="PassengerDto"
                                Field="@nameof(PassengerDto.Status)"
                                Caption="@L["PassengerDto:Status"]">
                    <DisplayTemplate>
                        @L[$"Enum:PassengerStatus.{context.Status:D}"]
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="PassengerDto"
                                Field="@nameof(PassengerDto.Phone)"
                                Caption="@L["PassengerDto:Phone"]">
                </DataGridColumn>
                <DataGridColumn TItem="PassengerDto"
                                Field="@nameof(PassengerDto.Count)"
                                Caption="@L["PassengerDto:Count"]">
                </DataGridColumn>
                <DataGridColumn TItem="PassengerDto"
                                Field="@nameof(PassengerDto.AppointmentTime)"
                                Caption="@L["PassengerDto:AppointmentTime"]">
                    <DisplayTemplate>
                        @context.AppointmentTime.ToString("G")
                    </DisplayTemplate>
                </DataGridColumn>

                <DataGridColumn TItem="PassengerDto"
                                Field="@nameof(PassengerDto.OrderId)"
                                Caption="@L["OrderDto:Id"]">
                    <DisplayTemplate>
                        @if (context.OrderId.HasValue)
                        {
                            <a href="@($"/orders?orderId={context.OrderId.Value}")">@context.OrderId.Value</a>
                        }
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="PassengerDto"
                                Field="@nameof(PassengerDto.Remark)"
                                Caption="@L["PassengerDto:Remark"]">
                </DataGridColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="@CreateModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@L["New"]</ModalTitle>
                <CloseButton Clicked="CloseCreateModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@CreateValidationsRef" Model="@NewEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["PassengerDto:Name"]</FieldLabel>
                            <TextEdit @bind-Text="@NewEntity.Name">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["PassengerDto:Phone"]</FieldLabel>
                            <TextEdit @bind-Text="@NewEntity.Phone">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["PassengerDto:Count"]</FieldLabel>
                            <NumericEdit TValue="int" @bind-value="@NewEntity.Count">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </NumericEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["HotelDto:Name"]</FieldLabel>
                            <Select TValue="long" @bind-SelectedValue="@NewEntity.HotelId">
                                @foreach (var hotel in CurrentUserHotels)
                                {
                                    <SelectItem TValue="long" Value="@hotel.Id">
                                        @hotel.Name
                                    </SelectItem>
                                }
                            </Select>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["PassengerDto:AppointmentTime"]</FieldLabel>
                            <DatePicker @bind-Date="NewEntity.AppointmentTime"
                                        InputMode="DateInputMode.DateTime"
                                        TimeAs24hr="true"
                                        TValue="DateTime">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DatePicker>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["PassengerDto:Remark"]</FieldLabel>
                            <MemoEdit @bind-Text="@NewEntity.Remark" AutoSize />
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="CreateEntityAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

<Modal @ref="@EditModal">
    <ModalContent IsCentered="true">
        <Form>
            <ModalHeader>
                <ModalTitle>@EditingEntity.Name</ModalTitle>
                <CloseButton Clicked="CloseEditModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditValidationsRef" Model="@EditingEntity" ValidateOnLoad="false">
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["PassengerDto:Name"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEntity.Name">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["PassengerDto:Phone"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingEntity.Phone">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["PassengerDto:Count"]</FieldLabel>
                            <NumericEdit TValue="int" @bind-value="@EditingEntity.Count">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </NumericEdit>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["PassengerDto:AppointmentTime"]</FieldLabel>
                            <DatePicker TValue="DateTime" @bind-Date="EditingEntity.AppointmentTime" InputMode="DateInputMode.DateTime" DisplayFormat="yyyy-MM-dd HH:mm">
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </DatePicker>
                        </Field>
                    </Validation>
                    <Validation MessageLocalizer="@Lh.Localize">
                        <Field>
                            <FieldLabel>@L["PassengerDto:Remark"]</FieldLabel>
                            <MemoEdit @bind-Text="@EditingEntity.Remark" AutoSize />
                        </Field>
                    </Validation>
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditModalAsync">
                    @L["Cancel"]
                </Button>
                <Button Color="Color.Primary"
                        Type="@ButtonType.Submit"
                        PreventDefaultOnSubmit="true"
                        Clicked="UpdateEntityAsync">
                    @L["Save"]
                </Button>
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
